/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body{
	font-family: "komet", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color:  rgb(142, 139, 139)
}

div.home-container { 
	background: url(beach.jpeg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 75em;
	background-color: rgb(244, 237, 237);
	margin: auto;
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	background-color: rgb(244, 237, 237);
	margin: auto;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 1em 1em 2em ;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
	 margin: 0.5em 0em 0.5em;
}

header {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	background: rgb(219, 214, 214);
	padding: 1em 1em;
	}

h1 {
	width: 12em;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 3em;
	margin:  .75em .2em .5em;
	font-family:"komet", sans-serif;
	}
	
h3 {
	font-size: 2em;
	font-family: "komet", sans-serif;
	font-weight: bold;
	margin: .5em .25em .5em;
}

h4 {
	font-size: 1em;
	font-family: "komet", sans-serif;
	font-weight: bold;
	margin:0em;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 0em 0em 2em;
}	

main.menu ul li {
		margin: 1.5em 0em 1em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 0em 0em 1em;
	font-family: "komet", sans-serif;
	}
	
p.description {
	grid-column: 1 / 2;
    margin: 0.1em 0 0;
    line-height: 1.3;
	}
	
p.price {
	grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: start;
    margin: 0;
    color: rgb(34, 178, 211);
    font-weight: 700;
    text-align: right;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	font-family: "komet", sans-serif;
	margin-bottom: 1em;
	}
	
nav ul li a {
	color: rgb(34,178,211);
	padding: 0.4em 0.4em 0.2em;
	}

p.slogan {
	font-family: "professor", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	margin: .75em 0.2em 1em;
	color: rgb(34,178,211)
	}

	body {
font-family: "komet", sans-serif;
}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(166, 162, 162)
}

address {
	color: rgb(47, 48, 48);
	margin: 0.5em;
	font-family: "komet", sans-serif;
	font-weight: 700;
	font-style: normal;
	}

footer p {
	margin: 0;
}

article{
	max-width: 30em;
	margin: 2em auto
}

@media screen and (min-width: 60em) {
nav ul li.selected a { 
	color: rgb(250, 250, 250);
	background-color: rgb(83, 80, 80);
	}

nav ul li{
	display: inline;
	font-size: 1.5em;
	margin: .25em;
}

nav ul{
	margin: 2em 0em;
}

main.menu ul {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

main.menu ul li{
	margin: 1em;
}

}
